[2014-11-08 13:18] enygma opened #1 "Decide on output format of results"
Should the results be some kind of (*cringe*) XML output or a custom JSON format? XML might be easier to get the data into just because of all of the attributes and standard parting methods.

[2014-11-08 13:20] enygma opened #2 "Refactor "type" and "func" methods out of MatchPath"
The `type` and `func` checking really needs to be out of the `MatchPath` and into their own evaluation sections. I know adding more objects to the mix increases overhead a bit, but once they're autoloaded they wouldn't need to be called again. Plus they could only be called on a lazy load basis.

They just return a `boolean` so it's not too difficult to handle...

[2014-11-11 12:19] #2 closed, assigned to nobody

[2014-11-12 22:09] enygma opened #3 "Add list command"
List out the current checks being made. This also means adding in error levels and descriptions to each of the tests. Simple console output is good...

[2014-11-12 22:25] enygma opened #4 ""object calisthenics" checks?"
Think about possibly adding "object calisthenics" checks...
- One level of indentation
- Don't use else
- Wrap primitive types (if they contain behavior)
- Only one -> per line
- Do not abbreviate
- Keep you classes small
- Limit your instance variables (dependencies passed into methods)
- Using first class collections
- Use getters and setters
- Document your code

Not really about security but c

[2014-11-17 15:12] #3 closed, assigned to nobody

[2014-11-17 15:14] enygma opened #5 "HTML Output"
Does this tool need to have some kind of HTML output handling? I know the RIPS tool used to have something like this, so I'm wondering if it's that useful.

The primary target of this tool is to be a command-line application but adding a generator like that wouldn't be too difficult (especially if it's just parsing the output from the command line). It might be better as a separate project though

[2014-12-06 07:39] anroots opened #9 "Add a configuration option for choosing the checks to run"
People (I) would benefit from the ability to specify which of the listed checks to run.

For example, in a legacy project, you might want to not run the `$GLOBALS` check since you know that it's used all over the place anyway.

This could be achieved either with a CLI option or a parse.dist.xml file.

[2014-12-06 07:42] anroots opened #10 "Add support for error-supression annotations"
Both phpcs and phpmd support special comments that suppress the reporting for certain files, checks or sections of a code.

This would be a good addition for reducing 'noise' for cases where you know an error will be reported, but you are aware of its implications and see no way around it (for example, if the file is auo-generated by some tool).

[2014-12-08 07:59] #9 closed, assigned to nobody

[2014-12-08 16:03] redbeardcreator opened #11 "Add optional explanations to the test descriptions"
It would be nice to have explanations for the tests. For instance, I'm puzzling over why you should avoid `__DIR__` and `__FILE__`. An option to explain the whys would be great.

[2014-12-08 17:03] enygma opened #12 "How do function comments relate to the function?"
In #10 there's a discussion about adding annotations to functions to tell Parse to bypass them to not include them in the results. It needs to be determined how the comments (with the annotation) relates to the function and where the best place would be to check this.

[2014-12-08 17:05] enygma opened #13 "Configuration file handling"
It's been suggested in #10 that a configuration file should be added to allow for more customization than just the command line options allow.

Considerations:
- Format (JSON, XML, YAML, INI)
- What functionality needs to be configured in it

[2014-12-10 06:21] redbeardcreator opened #14 "What should happen if static analysis can't determine correctness?"
In other words, if you can only tell at runtime if a usage is correct, should the test fail, warn, or pass?

For instance, `TestSessionRegenFalse` checks if the function `session_regenerate_id()` is used. It uses `Node::isFunction()` to determine this. The call to `isFunction()` returns true if a function is called via a variable. Therefore, the test fails if a variable function is used and the ot

[2014-12-22 19:04] hanneskod opened #19 "What version of PHP should parse support?"
It is not clear from `composer.json` what PHP version parse requires.

I was playing with the idea of using generators in `Scanner` to get better performance when scanning large projects. Generators require  php 5.5. So I wanted to find out if I was allowed to use them, realising the information was not there..

[2014-12-22 19:16] hanneskod opened #20 "Should scan results be written directly to a file instead of to standard out?"
I am asking this question because there is a collision right now. When executing parse with `--output=xml` the scan result is written as xml to standard out. But at the same time `Scanner` outputs dots to visualize scan progression, also to standard out. So if something like

    parse scan /my/project --output=xml > results.xml

is used then results.xml will *NOT* contain valid xml, the dots will

[2014-12-28 22:41] redbeardcreator opened #22 "Implement a simple way to unit test the various tests"
As I've mentioned in PR #15, it would be nice to have a simple tool for unit testing tests. Specifically, a means to specify a snippet of code, a test to run against it, and the expected result.

[2014-12-28 23:37] #19 closed, assigned to nobody

[2015-01-03 15:01] redbeardcreator opened #24 "Simple assertion mechanism on Tests?"
While trying to figure out `TestDisableDisplayErrors`, I started wondering if there could be an easier way to specify tests. Something along the lines of PHPUnit's `assertThat()`.

I was think something along the lines of (using `TestDisableDisplayErrors` as an example):

[code]

Of course, that's only with a few minutes of thinking on it. I haven't worked out exactly how it would work, except tha

[2015-01-05 17:35] #20 closed

[2015-01-06 11:48] hanneskod opened #27 "Should the File argument to TestInterface::evaluate be removed?"
When looking at pr #26 we are now passing an empty mock of `File` when evaluating each test. This got my thinking, what is this `File` object really used for?

I see it being used in `TestUseTypeCheckEqualsOnBoolean` and `TestLogicalOperatorsFound`, both times to pull out a line of code and analyse it.

Of course, in php it is not necessary to put comparisons in one line. As it stands now I think

[2015-01-06 14:27] redbeardcreator commented on #27
If my preliminary tests last night are correct, `TestLogicalOperatorsFound` fails in many conditions. I expect to be looking at it in more detail over the next week or so.

I *think* (but am not sure and not in a position to check at the moment) that `PhpParser` provides some of the information needed to avoid parsing the line proper. But I think it is safe to parse the line, as you are examining

[2015-01-08 08:26] redbeardcreator commented on #12
I just did some investigation, and things look really good. It seems `PhpParser` helps us significantly.

As long as you're using an actual DocBlock (e.g. `/** ... */`), each node that has a DocBlock will have it available via the `getDocComment()` method on the `Node`. The visitor can set flags when `enterNode()` is called if there is a DocBlock present that it recognizes (via parsing the DocBloc

[2015-01-08 19:23] enygma commented on #12
Nice! I look forward to seeing what you've come up with - this is definitely a cool addition to the functionality.

[2015-01-09 16:40] hanneskod opened #39 "Changing the name of the executable"
I am installing parse globally so that I can use it to scan projects as part of a generic CI process. This means that the executed command will be something like:

[code]

Now I am thinking that the name `parse` isn't ideal. Parse could mean just about anything, and there is a possibility of a name conflict. So I'm suggesting to rename the executable `psecio-parse`.

It is of course not very nice

[2015-01-09 21:15] enygma commented on #39
hmm, not sure about this one - seems like since that's the name of the tool the command should be kept the same. I see how just "parse" could be ambiguous, but I think most people using it will know what it is.

@redbeardcreator?

[2015-01-09 21:39] hanneskod commented on #22
With the merging of #26 this can be closed as well. Sweet.

[2015-01-09 21:39] #22 closed

[2015-01-09 22:26] redbeardcreator commented on #39
I'm going to straddle the fence on this one, unless Composer prevents it ;)

If it's installed globally, I'd want it to be installed as `psecio-parse`. I say this for a couple reasons. First, in general I don't want to have to think about renaming it if I have something else that is called parse. Second, Debian (my Linux distro of choice) would rename it to something like that if there was a confl

[2015-01-10 00:13] hanneskod commented on #39
Hm, tricky. What I was thinking means changing the global name as well as the local (so it would be `bin/psecio-parse` in this repo).

The `composer global require ...` trick really is just a shorthand for adding a requirement to a package located at `~/.composer/`. And then to make whatever is installed in this package availiable globally you add `~/.composer/vendor/bin` to your path. There is no

[2015-01-10 05:16] redbeardcreator commented on #39
Then to me, I'd say name it `psecio-parse`. Or something similar. If you support global installation, you should play nicely in the global namespace. Not everyone is on the cutting edge using Vagrant boxes and the like ;)

[2015-01-10 05:30] redbeardcreator opened #41 "What should the procedure be for accepting PRs?"
In #32 @hanneskod said:

Below I say collaborator. I mean collaborator or owner.

My opinion is, if the code that will be run by the end user (that is, code in `src`) has minor and/or non-invasive and non-BC changes, it can be approved by a simple majority (2) of collaborators for now. If parse collects enough more collaborators, this would need to be revisited. This would include adding new tests

[2015-01-10 09:34] hanneskod commented on #41
Perfect.

[2015-01-10 21:20] enygma commented on #41
I'm good with you guys making the call on the work you're doing. Just bring me in on the conversation if you feel like it might go against the intent of the project. I've been going through the different PRs as they come through but damn, you guys do a lot of work ;)

[2015-01-10 21:22] enygma commented on #39
Okay, I'm okay with the name change - we just need to be very sure it's mentioned in the README and noted in the next release's notes.

[2015-01-10 21:25] enygma commented on #27
I see lots of merges that reference this - can this issue be closed out now?

[2015-01-10 22:14] hanneskod commented on #27
I think we should move to remove the `$file` argument from `evaluate`. I will submit a pr with this change. So maybe the disussion can continue there if you have objections.. So closing...

[2015-01-10 22:17] hanneskod commented on #1
This could probably be closed as well? it seeme to have resolved organically.

Better to open new issues if the output model needs revision...

[2015-01-10 22:18] hanneskod commented on #27
Or maybe it's better to leave it open and close from the pr instead..

[2015-01-10 22:21] hanneskod commented on #39
Cool, I'll do a pr..

[2015-01-10 22:34] hanneskod opened #45 "Activate travis"
With the latest additions parse longer finds issues in itself. Wich also means that the travis build now pass for the first time. So I'm thinking it's time to activate travis. I can't do it as it requires admin privileges. Could you do it @enygma? Or if you find it easier you cold grant me admin privileges temporarily and I can do it..

[2015-01-11 04:33] redbeardcreator commented on #1
Yes, I think this can be closed. If we need JSON output (or whatever) in the future, thanks to you @hanneskod, I think we have it covered.

[2015-01-11 04:33] #1 closed

[2015-01-11 05:13] redbeardcreator commented on #10
I'm starting to formulate a final plan for implementing this feature and I have a question about it. To what degree should the commandline options `--include-tests` and `--exclude-tests` override annotations?

I can see two paths:

1. The `--exclude-tests` and `--include-tests` are just used for building the overall list of available tests. If a test isn't in the list generated by discarding exclu

[2015-01-11 11:21] hanneskod commented on #10
Hm, I'd say number 1.

I have an idea that the list of available tests could be compiled in more ways: custom tests could be added, tests could be grouped and added/removed as phpmd's ruleset option. This would be something you'd do at runtime, by specifying command line options. Annotations on the other hand are part of the code. For me it feels right that changing the runtime changes what result

[2015-01-11 13:30] hanneskod commented on #41
Yeah. It has been (and is) great fun working on this with you guys! Lots of great additions. Fast feedback. Good discussions and learning opportunities. Thank you both @enygma  and @redbeardcreator!

[2015-01-11 14:06] enygma commented on #45
Done! :)

[2015-01-11 14:11] enygma commented on #10
Agreed, #1 sounds better and makes a bit more sense conceptually (imagine trying to explain the other one in just a README). and a +1 on that new option too. There does need to be something that people can use to "override all" just in case.

[2015-01-11 14:24] hanneskod commented on #45
Cool! Closing..

[2015-01-11 14:24] #45 closed

[2015-01-11 14:51] redbeardcreator commented on #10
Then that's what I'll start to work on. I'll include the `--ignore-annotations` option.

[2015-01-11 14:53] redbeardcreator commented on #41
I'm certainly enjoying working on something new and outside my usual proprietary world. It's great seeing a project evolve so rapidly and well.

[2015-01-11 15:19] enygma commented on #41
open source ftw! :)

[2015-01-11 22:12] redbeardcreator commented on #41
Indeed...I've been wanting to find a project to contribute to. I just happened to see this via your PHP security site. And I've been so happy to contribute!

[2015-01-11 23:17] redbeardcreator opened #49 "Test name consistency"
As I continue my preliminary thinking on #10, I've been looking at test names. I've come to the realization that they are very inconsistent. Some start with `Avoid`, some start with `Use`, and both mean the same thing (avoid this; you're using this bad thing). Then some tests don't have a prefix at all. It seems @enygma named them organically (as would I).

I'd like to propose, before there's a co

[2015-01-12 10:48] hanneskod commented on #49
I have been thinking the same thing! The `<what><optional-when>` formula is very well found. Brilliant! Some of the test names could be even shorter:

* `DisableDisplayErrors` could be just `DisplayErrors`.
* `NamedLogicalOperators` could be `LogicalOperators`.
* And `BooleanEquality` shohuld maybe be `BooleanIdentity`.

I would also like to suggest calling these things `Rules` instead of `Tests`.

[2015-01-12 16:21] #39 closed

[2015-01-12 16:21] #27 closed

[2015-01-12 17:01] redbeardcreator commented on #49
I like your name suggestions. And I, too, have been struggling with `Tests` and unit tests. But I'm hesitant to change it. @enygma?

[2015-01-12 17:25] enygma commented on #49
I'm all for changing this. When I was originally naming them, it was more of a readable kind of thing, not really a standard format. I think doing this is a great idea and I like the format proposed too - makes a lot more sense :)

[2015-01-12 17:45] hanneskod commented on #49
Cool. Changing from `Test` to `Rule` obviously would mean touching a lot of files and a litte hassle. In the long run I think removing any kind of confusion is a good thing.

Have you started the work of renaming things already @redbeardcreator? If not I think I can submit a pr  tonight..

[2015-01-12 18:32] redbeardcreator commented on #49
I hadn't started yet, no. But if you want to start on that I think I'm ready to start working on annotations tonight.

[2015-01-12 19:35] hanneskod commented on #49
Perfect!

[2015-01-13 12:09] hanneskod commented on #11
As hinted in #51 I would like to pick up on this. @redbeardcreator is on to something in the original comment, you could call it the educational aspect of this kind of tool.

I'm suggesting adding a `getLongDescription` method to `RuleInterface`.

A long description should explain why this particular rule is important, what could happen if the rule is ignored, include code examples that break the

[2015-01-15 01:02] #49 closed

[2015-01-16 23:41] hanneskod opened #55 "Throw exception on invalid rules"
When reading the proposed documentation in #52 I realised that we could be more helpful to our users by throwing exceptions when they attempt to include or exclude a rule that does not exist. There really is no reason not to throw an exception, and we could probably help find a spelling mistake or two..

Also including and excluding rules should be case insensitive.

I will write a pr for this dur

[2015-01-19 18:03] #11 closed

[2015-01-20 15:38] hanneskod commented on #41
Closing this as the issue seems to be resolved :smile:

[2015-01-20 15:38] #41 closed

[2015-01-20 15:48] hanneskod commented on #13
I have some thoughts on this: As a first step I want to move some of the complexity of `ScanCommand` to a `ConfigManager`. The manager can be written to handle a `ConfigFileInterface`, preparing for the actual implementation in a format-agnostic way. I don't think doing this will add to the overall complexity of the project, quite the opposite I think it will make for a better division of concerns

[2015-01-21 07:13] redbeardcreator commented on #13
My only thought is it should mirror the error suppression annotations from #52.

[2015-01-22 20:58] NoodlesNZ opened #58 "Maximum function nesting level of '100' reached"
I'm trying to run parse against my codebase, but after a while it stops with this:

Fatal error: Maximum function nesting level of '100' reached, aborting! in /home/nick/testcomposer/vendor/psecio/parse/src/Psecio/Parse/TestCollection.php on line 45

It spits out a stack trace, but doesn't give any idea to what file it was working on when it had the problem. Is there any way to debug this?

[2015-01-22 21:39] hanneskod commented on #58
Thanks for reporting!

Are you using the latest development version? Try using the `-vv` option to get verbose output. Please post the output you get when running:

    psecio-parse scan -vv dir

[2015-01-22 21:49] NoodlesNZ commented on #58
I'm using 0.5.0 from composer (I guess, I'm new to composer). It seems the error occurs in a file where the same method is used 54 times. The php script itself isn't complex, we just use a method to swap out urls for images (between different CDNs), so `$site->cdn('/img/logo.gif')` and there just happens to be 54 images on this page.

[2015-01-22 22:02] hanneskod commented on #58
Ok. You can specify `dev-master` instead of `0.5.0` in composer.json to get the develop version of parse. Would you mind posting the contents of the file in question? Or if it's an open source project direct me to it, so that I can try to recreate..

With `dev-master` it is also possible to scan individual files (it is not possible with 0.5). Try scanning just this file to see if the error remains

[2015-01-22 22:08] NoodlesNZ commented on #58
Same thing happens on dev-master (and when just scanning that one file). I can't post the code, so I'll try and recreate the problem.

[2015-01-22 22:11] hanneskod commented on #58
ok, thanks! Would you mind posting the full stack trace?

[2015-01-22 22:14] NoodlesNZ commented on #58
Here's a gist with the code: https://gist.github.com/NoodlesNZ/4bf0bca0ea0280f8acc5

[2015-01-22 22:27] hanneskod commented on #58
Perfect! I will analyse and get back to you. Don't know exactly when, but I'll try to be quick. In the mean time you can skip this file when parsing using the `--ignore-paths` otion.

[2015-01-22 22:27] NoodlesNZ commented on #58
Thanks :)

[2015-01-22 23:16] hanneskod commented on #58
Ok I got it. This is related to xdebug. Setting `xdebug.max_nesting_level` to smething big, like 10 000 or so, solves the problem. Or turning xdebug off.

A fix will be merged into master some time soon. In the mean time you can edit your `php.ini` and everything should be fine..

[2015-01-23 00:19] NoodlesNZ commented on #58
Thanks for looking into that and the fix.

[2015-01-23 00:19] #58 closed

[2015-01-23 00:23] NoodlesNZ opened #60 "Do not use the eval modifier in regular expressions (\e)"
From what I can see, the script is looking for the existence of /e in a preg regex. This means that something like this gets incorrectly tagged as using the eval modifier:

`if (preg_match("#/enc/$#i", $_SERVER['REQUEST_URI'])) {`

You might need to do some work with determining which delimiters are being used (in this case # was used) to correctly identify the modifiers.

[2015-01-23 00:44] hanneskod commented on #60
You are absolutely right. Good catch!

[2015-01-23 00:54] hanneskod commented on #60
Hm. There are multiple problemens here. The `\e` modifier is only used with `preg_replace`.. A fix is in the loop...

[2015-01-23 05:18] #60 closed

[2015-01-23 06:22] #55 closed

[2015-01-23 15:58] hanneskod commented on #60
Ok this is done. Thanks again for reporting @NoodlesNZ!

[2015-01-28 01:12] hanneskod commented on #13
Here is a suggested configuration file structure. I like json because it is so simple to parse... We also need to decide on a default conf file name. I suggest `.psecio-parse.json`.

[code]

What do you think? @enygma @redbeardcreator

[2015-01-28 01:57] redbeardcreator commented on #13
It looks good to me. I also prefer JSON. But Any format is fine as long as it's consistent.

[2015-01-28 02:24] enygma commented on #13
yeah, looks good to me too...is the "extensions" setting just to determine the file extensions to check? Would it ever really need to be anything other than .php?

[2015-01-28 04:14] redbeardcreator commented on #13
I have some older projects that used `.inc`. I believe at the time it was a fairly common practice. Of course, that was PHP 4 when I was able to crash PHP by using too many pass-by-reference calls. But I still have `.inc` files in the field.

[2015-02-08 17:14] jminkler opened #64 "If variable name in conditional contains 'or' it evals as a logic operator problem"
Avoid the use of logical operations (XOR, OR, etc) in favor of operators like && and ||

is example

[2015-02-08 17:19] jminkler commented on #64
Guess is problem in PHPParse - closing

[2015-02-08 17:19] #64 closed

[2015-02-08 17:33] hanneskod commented on #64
Thanks for reporting!

An older version of this test mistakenly scaned each line for the words `and` or `or`. If you use the latest development version of parse this problem should go away.

It would be great if you could verify that it does :smile:

For reference se this pr: #36.

[2015-02-08 17:45] jminkler commented on #64
Thanks, came up while I was using the security scanner that uses this lib.

[2015-02-08 17:46] jminkler commented on #64
Thanks, missed that

[2015-02-20 07:29] redbeardcreator commented on #12
I think this has proven to be workable. Closing the issue.

[2015-02-20 07:29] #12 closed

[2015-03-25 05:38] redbeardcreator commented on #24
It's just an experiment right now, but I've started on [TokenMatcher](https://github.com/redbeardcreator/TokenMatcher). It can assert whether a PhpParser `Node` is one of several basic nodes (include statement, assignment, class definition, etc.)

The next step is to implement some of the more complex things mentioned here, and then start going through parse to see what can be used.

[2015-03-25 13:36] enygma commented on #24
Nice! :) looks like a handy tool

[2015-03-26 02:02] redbeardcreator commented on #24
I hope it will be. Should make a lot of the rules in parse easier to understand.

[2015-03-27 12:24] hanneskod commented on #24
Yes, and probably better unit testing of the Matcher itself. The traits we use now really are not unit-tested at all... I like it.

[2015-07-06 20:02] redbeardcreator opened #68 "PHPUnit has deprecated the strict option"
This should be removed from the phpunit.xml configuration.

[2015-07-06 20:21] redbeardcreator commented on #10
Closed by #52

[2015-07-06 20:21] #10 closed

[2015-07-06 20:23] #68 closed

[2016-02-17 13:05] marcaube opened #71 "Detect tainted input"
Let's say I wanted add a rule (or rules) to detect when a variable is concatenated to a SQL query or a file path, and then trace back to see if the input was sanitized properly, how would I need to proceed?

I'd like to do a security analysis similar to what [Scrutinizer CI](https://scrutinizer-ci.com/tour/continuous-security-audits-for-your-application) does, but on-premise. Is it possible to do

[2016-02-24 13:34] aik099 opened #72 "Notices about missing "$name" property on nodes"
When I'm parsing this http://fisheye.in-portal.org/changelog/In-Portal/branches/5.2.x/core?max=30&view=all SVN repository, then I'm getting a lots of notices about missing `$name` property on node classes. For example:

* PHP Notice:  Undefined property: PhpParser\Node\Expr\ArrayDimFetch::$name in /home/user/.composer/vendor/psecio/parse/src/Rule/HardcodedSensitiveValues.php on line 39
* PHP Notic

[2016-03-07 20:41] aik099 commented on #72
This happens with following code:

[code]

[2016-03-13 10:45] aik099 opened #74 "The "OutputWithVariable" rule false positive"
There are no variables in code, below, but `OutputWithVariable` rule thinks there is.

Code:

[code]

Error:

[code]

[2016-03-13 12:09] aik099 opened #75 "False positive for "ParseStr" rule"
The error says `Don't use 'mb_parse_str' or 'parse_str' as they sets variables into the current scope`, but that's not true, when `parse_str` was used with 2nd argument, that receives parsed values instead of extracting them into local scope:

[code]

[2016-06-03 07:27] jeroenherczeg commented on #75
+1
`
Don't use 'mb_parse_str' or 'parse_str' as they sets variables into the current scope

For more information execute 'psecio-parse rules ParseStr'
`

[2016-06-03 07:42] jeroenherczeg commented on #72
+1
This would make the package look more professional

[2016-06-03 11:49] enygma commented on #75
True, this rule should be updated to look for a second parameter. Anyone fancy a PR? :)

[2016-06-03 12:47] aik099 commented on #75
Here you go. It was easier to change existing rules, then I've expected at first. That's why I haven't sent PR back then.

[2016-06-03 12:51] aik099 commented on #71
If that SQL query is built purely from data present in a function (doesn't come from a function parameter values), then just concatenate values of corresponding tokens and you'll have final sql.

[2016-06-03 12:54] aik099 commented on #24
To me writing PHP code that is considered and error or good is clear enough already. What could be improved though is to start using PHPUnit data providers. Right now this does look like data providers, but it isn't.

If data providers would be used, then in case 1 php code out of 10 would fail that won't stop other 9 codes for same rule to be checked anyway.

[2016-06-03 12:55] aik099 opened #78 "Issue with using "String" class on PHP7"
On PHP7 there will be an error because of `String` class usage (~5 places in code). The `String_` class (already present in parser library) should be used instead.

[2016-06-03 13:05] #75 closed

[2016-06-03 13:22] marcaube commented on #71
Maybe my explanation wasn't clear (or I don't understand your answer).

The SQL query with concatenated variables is a *sink*, and I'm looking to trace back each variable to its *source* and check if they were sanitized or not along the way. If not, it's a tainted input and should be reported as a security vulnerability.

[code]

[2016-06-03 14:00] aik099 commented on #71
You can probably, but that would take too much effort to write such tool. Php parser would tell you what code is, but it's you who need to figure out what becomes what moves into what.

[2016-06-06 07:24] jeroenherczeg commented on #75
Thanks for fixing this!

[2016-06-06 07:34] jeroenherczeg commented on #72
I still receive the notices, does the package version need to be updated to a new version for composer global require psecio/parse is also using the newest version?

Thanks in advance!

[2016-06-06 07:44] aik099 commented on #72
If no release has been made since PR merge, then you need to use `dev-master` as version in `composer.json` unfortunately to get these fixes.

If even after that you'll be getting these notices please post code fragment that once analyzed is resulting these notices and we'll try to help you out.

[2016-06-06 12:15] jeroenherczeg commented on #72
I use this in CI so I had to use

[code]

It now works, thank you!

[2016-06-19 11:48] enygma commented on #78
Hey @aik099, can you try out the latest on `dev-master` and see if that resolves those issues for you?

[2016-06-20 06:29] aik099 opened #79 "Unable to run test suite"
When attempting to run test suite (it worked previously) on PHPUnit 4.2.6 and PHP 5.4 I've ended up with a Fatal Error:

[code]

[2016-06-20 06:37] aik099 commented on #79
Not sure why, but when running `bin/phpunit` (folder provided by composer) using PHPUnit 4.2.6 there is no error.

[2016-06-20 06:47] aik099 commented on #78
I don't have any code at hand to test, but unit tests pass on PHP 7 and they have failed before.

Turns out that library wasn't tested on PHP 7 and I've sent #80 PR that would do just that.

There is however another PR #76, which does a lot of stuff (like removing supported PHP versions, which I don't like) and locking to specific dependency version that work only on PHP 5.6+.

[2016-06-20 06:47] #78 closed

[2016-08-07 17:11] aik099 opened #81 "False positive for "LogicalOperators" rule"
The common way of dealing with accessing PHP files directly from web browser (when codebase is located within DocumentRoot, like in WordPress) is placing following code on top of PHP file:

[code]

Name of the constant is different for each framework, but construct stays the same (more or less).

I think, that this should be added as exclusion to `LogicalOperators` rule, because right now I'm gett

[2016-08-07 17:15] aik099 opened #82 "False positive for "ExitOrDie" rule"
I'm getting error:

[code]

when code like this is encountered:

[code]

In above code argument to `die` statement is constant string and can't be used to inject anything.

Proposing not to report issue in that case.

[2016-11-20 11:54] lilmike opened #84 "php fatal error (php7 related?)"
When I run the command "psecio-parse scan ." I get:
Fatal error: Cannot use PhpParser\Node\Scalar\String as String because 'String' is a special class name in /home/lilmike/.config/composer/vendor/psecio/parse/src/Rule/Helper/IsFunctionCallTrait.php on line 9

I'm not sure what's going on, but the only thing I can think is perhaps php7 has messed something up, though I could easily be wrong.
-Mich

[2016-11-20 17:50] aik099 commented on #84
The issue was fixed in https://github.com/psecio/parse/commit/d82cacb310deb9057b6891cefc8e587873922b18 commit. Not sure if a new version was released since then. Please use `dev-master` version of this library to get a fix.

[2016-11-21 14:15] enygma commented on #84
Hi all, I just tagged the latest version of master with `2.10` to hopefully get this and other bugfixes into the latest release. Let me know if this doesn't work for you.

[2017-01-24 06:38] Rivendall opened #86 "Parse php code before analysis. (Use Parser and other libraries)"
Hello.
I research about analyzers. In them,  parser not be able to recognize include, require and etc expression. I want to know, how dose your program recognize path?
Did you use other library or tools? or did you develop this part in your app?

Thank you.

[2017-01-24 08:06] aik099 commented on #86
As per `composer.json` (see https://github.com/psecio/parse/blob/master/composer.json#L17) the `PHP-Parser` library is used to tokenize the code.

You need to recognize require/include statements for what purpose:

1. possible insecure usage
2. to compensate for missing autoloader

?

Just a guess, but security vulnerability is detected just by looking at given code fragment and not by analyzing c

[2017-01-24 08:17] Rivendall commented on #86
Thank you for your answer.
I think for true and accurate analysis, need to recognize all path and traverse them.
For example in RIPS tool, without use of php parser and other library for create CFG and AST, can detect vulnerabilities in other path and complex path and nested classes.
I want to know, how do tools detect them?

[2017-01-24 08:26] aik099 commented on #86
If source code of mentioned tools is available to you, then looking at it might give you a hint about how such things are checked.

Just a guess, but looking at rule specifics in this library they doesn't look like they're able to perform cross-file/class/method checks. For example this code might not be detected as vulnerable:

[code]

[2017-01-24 08:39] Rivendall commented on #86
RIPS detected vulnerability in your sample. (File Inclusion)
But I want to know, one static code analyzer, recognize path in a project and traverse code for check vulnerabilities.
For example in main code, there are some include and require file, then use in other class and there are vulnerabilities.
I don't understand their mechanism.

[2017-01-24 08:42] aik099 commented on #86
You should worry about security vulnerabilities in code you own/can change. Don't worry about security vulnerabilities in code that you don't own/can't change.

For example if you're using 3rd party libraries through Composer and want to know if they're vulnerable or not use https://security.sensiolabs.org/check tool.

[2017-01-24 08:48] Rivendall commented on #86
Thank you, but i want to know their mechanism until use in my app.
How to check tokens and traverse in one project with a lot of file and class?

[2017-01-24 08:57] aik099 commented on #86
Ah, you want to write your own tool using approaches taken by other tools. I see.

Then recommended approach remains the same:

* look at their source code
* ask authors/contributors of these libraries

As far as I can tell as contributor of this library it's:

1. tokenizing code using PHP-Parser
2. calls each rule for each tokenized node
3. rule then tells if it is the node it can process and if

[2017-01-24 09:03] Rivendall commented on #86
Thank you so much.
I have one question. why any free or commercial tools (for example WAP, RIPS, and etc) said in analysis, we have to create AST and then CFG and data flow analysis and etc?
It is complex.

[2017-01-24 09:08] aik099 commented on #86
I have no idea.

From my expirience (I have built/used some tools that work with AST) you can't safely  `preg_match` over PHP file to detect stuff. Usually all `preg_match` rules fail when somebody formats analyzed code differently. This isn't the case with AST, where formatting isn't taken into account at all. It's always better to use tokenizers, that do create AST and then iterate over it.

[2017-01-24 09:15] Rivendall commented on #86
Thank you for your answers.
So, Should i use AST and this is enough?

[2017-01-24 09:20] Rivendall commented on #86
Please see:
http://awap.sourceforge.net/support.html
http://rips-scanner.sourceforge.net/
https://websec.wordpress.com/category/projects/

[2017-01-24 09:21] aik099 commented on #86
That is what I recommend, yes.

[2017-01-24 09:23] Rivendall commented on #86
Thank you, @aik099.

[2017-01-24 09:24] aik099 commented on #86
Unless you're a security expert yourself I recommend you hiring a security consultant that would do one time security audit over codebase, rather than reinventing a wheel and writing your own security vulnerability checking tool.

[2017-01-24 09:30] Rivendall commented on #86
Thank you for your recommend.
I want to become a security expert in this year. I can detect any vulnerabilities in php code with see code and audit them. but i need special tools to automate.

[2017-01-24 09:36] aik099 commented on #86
Wasn't aware of that. Good luck then.

[2017-01-24 09:38] Rivendall commented on #86
You too. Thank you for your helps. they are useful.

[2017-07-03 13:44] garrettw opened #87 "Simplify composer requirements"
In composer.json, the required packages have version constraints that looks like `"^1.0|^2.0"` or `"~2.5|~3.1"`. I think the number of options allowed by that could be what's making composer take several minutes to install this package. (It's installing as I type this, and I'm wondering how many more minutes it will take. It's already been more than 10.)
Could the older version numbers just be tak

[2017-07-03 14:32] enygma commented on #87
@garrettw Thanks for the question - as it stands, though, the tool is written and requires certain versions of packages to ensure it works all the time. If the version numbers were removed (or the latest release was allowed) it could cause breakage in the tool as we wouldn't know what might have changed in the dependencies.

[2017-07-03 14:51] garrettw commented on #87
I apologize if I wasn't clear. All I meant was, for example, changing `"^1.0|^2.0"` to `"^2.0"`.
The way it is now, I had to remove many other dependencies from my project that used later versions of the same packages just to get this one to the point where it wouldn't refuse to install. I could easily see that being a deterrent to adoption, as devs may try to install this, see that it's looking f

[2017-07-03 15:07] enygma commented on #87
Ah, okay - that makes more sense. I'm more than happy to accept a PR to simplify these if you'd like to submit!

[2017-07-03 17:05] garrettw commented on #87
Sure, I'll do it. I might add that after a quick look at the [Network page](https://github.com/psecio/parse/network), I can see that multiple people have forked this just to update composer.json so they could use it alongside other packages. Might be good to keep this more up-to-date.

I may just go ahead and test it with newer versions of the deps as well.

[2017-07-03 17:05] #87 closed

[2017-07-11 15:32] garrettw commented on #79
I imagine this can be closed now as it no longer seems to be an issue. My PR used the latest 4.x version of PHPUnit with no problems.

[2017-07-11 15:38] garrettw commented on #4
Some of those are already well-covered by other static analysis tools, specifically these, at the very least (I think):
- Don't use else
- Keep your classes small
- Limit your instance variables (dependencies passed into methods)
- Use getters and setters
- Document your code

[2017-07-18 14:28] jakzal commented on #79
The test suite can't be run for another reason now (you really shouldn't be mocking third party):

[code]

[2017-07-18 23:43] garrettw commented on #79
True, however I've already submitted a PR that fixes that. It just hasn't been merged yet.

[2018-01-13 08:20] aik099 opened #89 "Support newer dependency versions"
Currently this library depends on (latest release):

* Symfony 2.x (the latest is Symfony 4.x)
* PHP-Paser 1.x (the latest is PHP-Parser 3.x)

This makes it impossible to install library globally together with PHPStan for example.

[2018-01-31 13:55] EvgenyOrekhov commented on #89
Same here. Unable to install due to https://github.com/psecio/parse/blob/9266760c600b99502d03485e89f690641df58d2a/composer.json#L17

[code]

[2018-01-31 13:57] enygma commented on #89
@aik099 @EvgenyOrekhov If you'll write up a PR for it I'll happily merge it :)

[2018-03-18 23:29] danielnitscheladoo commented on #84
`0.7` 👎
`dev-master` 👍

[2018-06-11 18:27] enygma commented on #89
Closing this as it now uses v2.0 of the PHP-Parser lib

[2018-06-11 18:27] #89 closed

[2018-06-11 18:28] enygma commented on #86
Looks like this one was worked out - thanks @aik099! Closing.

[2018-06-11 18:28] #86 closed

[2018-06-11 18:37] EvgenyOrekhov commented on #89
@enygma Still unable to install because Parse requires `"nikic/php-parser": "^2.0"`, but my project requires `"nikic/php-parser": "^4.0"`

[2018-06-11 18:40] enygma commented on #82
I changed this up in https://github.com/psecio/parse/commit/63f10291182662b7a6e159e94d935a2f80f6d3a2 and it will be included in a future release.

[2018-06-11 18:41] enygma commented on #81
Yeah, this rule should probably check to see if it's in an evaluation like an `if` or `while` rather than just looking for the operator.

[2018-06-11 18:52] enygma commented on #74
Ah, I see - this is just checking "is it a string with something concatenated to it" not that the thing concatenated is a variable. I changed this in https://github.com/psecio/parse/commit/625c9916415f2e9487ef95097c0ba06bc91f0fb5 (and added a test). Thanks!

[2018-06-11 18:52] #74 closed

[2018-06-11 18:54] enygma commented on #71
@marcaube Yeah, what you're talking about is flow analysis and is much more complex than this tool is designed to do. I've looked into building such a tool but it never evolved into something. I know the [RIPS](https://www.ripstech.com/) folks do that kind of analysis but theirs is a commercial product.

[2018-06-11 19:28] aik099 commented on #82
Thanks. I'm not seeing any test added to cover changed behavior though.

[2018-06-11 20:35] enygma commented on #84
Given that a release was made in response to this request, closing this out.

[2018-06-11 20:35] #84 closed

[2018-06-11 20:36] enygma commented on #82
The test changes were in https://github.com/psecio/parse/commit/1b8ff59f43e020f32d51e11dbe33add64b169751

[2018-06-15 15:21] marcaube commented on #71
Thanks for the answer @enygma, I'm closing the issue.

[2018-06-15 15:21] #71 closed

[2018-06-20 16:03] enygma commented on #82
@aik099 Are you okay with me closing this one out? I want to be sure you got your answer...

[2018-06-20 16:39] aik099 commented on #82
If this rule no longer reports original code I've posted as error, then I'm OK.

[2018-08-01 17:47] mschwager opened #90 "Add check for non-strict calls to in_array"
Similar to preferring strict comparisons (`===` vs. `==`), it'd be great to include a check for non-strict calls to `in_array`. I.e. ensure `in_array($needle, $haystack, true)`.

[2018-08-01 18:00] mschwager opened #91 "Add check for non-strict checks against openssl_verify return"
The `openssl_verify` function has the unfortunate interface of returning `1` if the signature is correct, `0` if it is incorrect, and `-1` on error. This means if you do a naive comparison like `if (!openssl_verify(...))` then errors will make it seem as if verification succeeded. Ideally verification should be done with something like `if (openssl_verify(...) !== 1)`.

It'd be great if `parse` co

[2018-08-01 20:12] enygma commented on #90
This check (`InArrayStrict`) has been added. It will be included in a later tagged release.

[2018-08-06 14:58] NicolasCARPi opened #92 "Syntax errors when running against PHP 7.1 codebase"
Hello,

I'm discovering psecio-parse and I've just ran it on my codebase.

I've opened this issue to report errors when running it against a PHP 7.1 codebase:

[code]
^ this will throw an error "Syntax error, unexpected T_CONST, expecting T_FUNCTION"

[code]
^ this will throw an error "unexpected ?, expecting T_VARIABLE

I believe these errors come from nikic/php-parser, right? Your composer.json

[2018-08-06 18:48] aik099 commented on #92
@NicolasCARPi , please send PR for each of the things mentioned (3 PR in total if I'm not mistaken).

[2018-08-06 22:18] NicolasCARPi commented on #92
@aik099 I did a PR. But the result is not really what I hoped; see comment on PR ;)

[2018-10-31 14:57] mschwager opened #94 "Add check for create_function calls"
Calling `create_function` is effectively an `eval` call and thus should be avoided :)

https://secure.php.net/manual/en/function.create-function.php

[2018-11-14 23:08] mschwager opened #95 "Add check for imap_open calls"
https://github.com/Bo0oM/PHP_imap_open_exploit

:)

[2018-11-15 01:09] enygma commented on #95
![yes-jim-office](https://user-images.githubusercontent.com/66796/48523141-d130fe00-e840-11e8-812f-72f914eb7fd0.gif)

[2018-11-15 14:30] mschwager commented on #95
![](https://media.giphy.com/media/S3Ot3hZ5bcy8o/giphy.gif)

[2018-12-20 08:27] paslandau opened #96 "Bump "symfony/console" to allow 3.4.* instead of 3.2"
Hey,

installation is failing for me due to the composer constraint ` "symfony/console": "2.5 - 3.2",`
[code]

with

[code]

Is there any reason to fixate the version on max 3.2. or can we move to 3.4?

Cheers
Pascal

[2019-02-09 08:32] vv12131415 opened #97 "Bump nikic/php-parser version"
Can't install this extension to my project since it's too new for it, I use nikic/php-parser 4.*  in my code, but this package uses 2.0 version

I think it'd be awesome to update all other packages too

[2019-03-05 15:37] mnvx opened #98 "Dependency not found: akamon/mockery-callable-mock"
[code]

[2019-11-28 08:19] llaville commented on #92
The main reason why PHP 7.1 code is not supported, is that this package used `"nikic/php-parser": "^2.0"` constraint.
I suggest to upgrade it to at least [3.0](https://github.com/nikic/PHP-Parser/blob/master/UPGRADE-3.0.md); better will be [4.0](https://github.com/nikic/PHP-Parser/blob/master/UPGRADE-4.0.md)

[2019-11-28 11:40] NicolasCARPi commented on #92
@llaville Indeed. Unfortunately, this project seems abandoned anyway.

[2019-11-28 12:45] llaville commented on #92
@NicolasCARPi Bad news to hear !

[2020-12-23 13:25] robwillup opened #99 "Is Parse going to be maintained?"
Hello @enygma !

Noticing the last commit is from 2018, is this project still going to be maintained?

Thank you! 😄

[2021-05-21 02:01] #99 closed, assigned to nobody

[2022-09-14 11:36] shayneoneill commented on #97
3 years without a response. Guessing this projects been abandoned :(